body {
    background-image: linear-gradient(to right, purple, pink);
 
}
.bg-div {
    background: radial-gradient(circle,azure, gray);
    

}
input {
    width: 20rem;
    height: 1.5rem;
    border-radius: 6px;
    border: groove white;
}
.btn {
    width: 3rem;
    background-color: aquamarine;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 4px;
}
.btn:hover {
    background-color: gray;
}
