
.login-container {
    margin-top: 5rem;
    margin-left: 30%;
    background: radial-gradient(circle,azure, gray);
    background: linear-gradient(to right, azure, gray);


    width: 35rem;
    border-top-left-radius: 5rem;
    border: groove white;
}
.triangle {
    width: 5rem;
    height: 5rem;
    background: linear-gradient(to right, azure, rgb(219, 219, 219));
    border-top-left-radius: 5rem;
    border: groove white;
}
.books {
    width: 10rem;
    margin-left: 27rem;
    margin-top: -10rem;
}
.links {
    text-decoration: none;
}
.contents {
    margin-top: -5rem;
    margin-left: 2rem;
    padding-bottom: 2rem;
}
.title {
    margin-left: 13rem;
}
.quote {
    margin-left: 4rem;
    margin-bottom: 2rem;
}
.lable {
    margin-top: 1.4rem;
    margin-bottom: 1px;
}
.inner-content {
    margin-left: 5rem;
}
.btn-signup {
    margin-top: -2.15rem;
    margin-left: 15rem;
}
.quote-div {
    width:28rem;
    text-align: center;
}

.btn-login {
    margin-left: 7rem;
}
.btn-reset-pw {
    width: 6.5rem;
    margin-left: 5rem;
    margin-top: 1rem;
}