* {
    margin: px;
}
body {
    background-image: linear-gradient(to right, purple, pink);
}
.container {
    text-align: center;
    font-family: cursive;
}
#myTextarea {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: 35rem;
    resize: none; 
     white-space: pre-wrap;
     font-family: inherit;
     background-image: url(page.jpg);
     background-size: cover;
}
#fontSelect, #fontSizeButton{
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 1rem;
    background-color: aliceblue;
    font-family:monospace;
}
.button{
    width: 4rem;
    margin-left: 50%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 3rem;
}
.back-btn {
    margin-left: 44%;
    margin-top: 1rem;
    background-color: aquamarine;
    border-radius: 10px;


}
.save-btn {
    margin-left: 54%;
    margin-top: -5.4rem;
    background-color: aquamarine;
    border-radius: 15px;

}
.button:hover {
    background-color: gray;
    border-radius: 15px;
}