.bg-div {
    background: radial-gradient(circle,azure, gray);
}
.container{
    margin-top: 2rem;
    margin-left: 10rem;
    text-align: center;
    width: 60rem;
}
.heading {
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.img-plus {
    width: 2rem;
    padding-top: 3.5rem;
}
.contents {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.img-pen {
    width: 10rem;
}
.btn-create, .newnotebook {
    /* float: left; */
    width: calc(33.33% - 20px);
    margin: 10px;
    width: 10rem;
    height: 9rem;
    text-align: center;
    color: rgb(41, 36, 207);
    /* margin-bottom: 3rem; */
}
.title-of-the-book {
    width: 10rem;
    margin-top: 3.5rem;
    text-align: center;
    background-color: azure;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.books{
    /* background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Ftheconversation.com%2Fthe-50-great-books-on-education-24934&psig=AOvVaw3Oao9BGtnfkqUMmPWRMsSZ&ust=1683906651560000&source=images&cd=vfe&ved=0CA4QjRxqFwoTCKCD7aDP7f4CFQAAAAAdAAAAABAD); */
    background-color: rgb(154, 159, 159);
    padding: 2rem;
    border-radius: 10px;
    position:absolute;
    z-index: 1;
    margin-top: -19rem;
    margin-left: 28rem;
}
/* .books>h2 {
    margin-left: 5rem;
} */
.btn{
    margin-top: 1rem;
    width: 4rem;
    text-align: center;

}
.hidden {
    display: none;
}
.blur {
    filter: blur(4px);
}
.set-title {
    margin-left: 1rem;
}
.cancel {
    margin-left: 10rem;
    margin-top: -2.11rem;
    background-color: brown;
}
.dustbin {
    width: 2rem;
    margin-top: 0.8rem;
    margin-left: 5rem;
    /* float: right; */

}
.dustbin:hover {
    /* margin-top: -0.01rem;
    width: 3rem; */
    background-color: gray;
}
.edit {
    width: 1.1rem;
    margin-left: 0.2rem;
    height: 1.1rem;
}
.edit:hover {
    /* height: 1.1rem;
    width: 1.3rem; */
    background-color: gray;
}
.enter {
    background-color: aquamarine;
    height: 1.5rem;
    margin-top: -2.3rem;
    border-radius: 6px;
    padding-top: 0.5rem;
    text-align: center;
    width: 4rem;
    color: white;
    margin-left: 2rem;
}
.enter:hover {
    background-color: gray;
}
.pro-img {
    width: 3rem;
    border-radius: 50%;
    margin-left: 83rem;
    margin-top: 3rem;
    z-index: 2;
    position: absolute;
}
.pro-body {
    width: 30rem;
    height: 30rem;
    position: absolute;
    z-index: 2;
    margin-top: 2rem;
    margin-left: 35rem;
    background-color: rgb(154, 159, 159);
}
.inside-pro{
    width: 16rem;
    border-radius: 50%;
}
.pro-inner-body {
    text-align: center;
    float: left;
    /* background-color: brown; */
    height: 28rem;
    margin: 1rem;
    width: 28rem;
}
.pro-btn {
    padding:1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 4px;
    background-color: aquamarine;
    width: 3rem;
    margin-left: 11.5rem;
    margin-top: 1.5rem;
}
.save-button {
    margin-left: 6.3rem;
    color: black;
    padding-left: 1.6rem;
    width: 2.5rem;
}
.edit-btn-pro:hover, .save-button:hover, .back-btn-pro:hover {
    background-color: gray;
}
.profile {
    z-index: 2;
    position: absolute;
    margin-left: -2rem;
}
.after-edit {
    color: blue;
    z-index: 2;
    position: absolute;
    margin-top: 17rem;
    margin-left: 6.1rem;
    margin-right: 1rem;
}
.pro-input{
    width: 17rem;
    margin-top: 0.3rem;
    height: 2rem;
    margin-left: 0.5rem;
}
.back-btn-pro {
    margin-top: -2.13rem;
    background-color: brown;
    margin-left: 14.5rem;
}
.edit-btn-pro {
    margin-left: 10rem ;
}
.cancle-btn {
    position: absolute;
    width: 2rem;
    margin-left: 20rem;
}
.logout-icon {
    width: 1.5rem;
    margin-top: -1.8rem;
    margin-left: 6rem;
}